<div class="card bg-light">     
    <div class="card-body">
        <div class="card-title fs-3">Select API Data to View</div>
        <hr>
        <app-data-select-item
            *ngFor="let dataset of datasets; let i = index"
            [dataset]="dataset"
            [index]="i"></app-data-select-item>
        <!-- <div class="form-check">
            <input 
                class="form-check-input" 
                type="radio" 
                name="dataset" 
                id="dataset1"
                value="dataset1">
            <label class="form-check-label" for="dataset1">
                Data Set 1
            </label>
        </div>
        <div class="form-check">
            <input 
                class="form-check-input" 
                type="radio" 
                name="dataset" 
                id="dataset2" 
                value="dataset2">
            <label class="form-check-label" for="dataset2">
                Data Set 2
            </label>
        </div>
        <div class="form-check">
            <input 
                class="form-check-input" 
                type="radio" 
                name="dataset" 
                id="dataset3" 
                value="dataset3">
            <label class="form-check-label" for="dataset3">
                Data Set 3
            </label>
        </div> -->
        
        <button class="btn btn-success m-3" type="submit">Submit Request</button>
        <button class="btn btn-danger m-3">Clear Data Set</button>
            
    </div>
</div>

