<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
      <img src="assets/angular.svg" alt="" class="d-inline-block align-text-top" alt="Angular img" width="30" height="24"> JHub Module 1b</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		  <li 
		  	class="nav-item"
		  	role="presentation"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}">
			  <a 
			  	class="nav-link active" 
				aria-current="page" 
				routerLink="/datasets">Data Set</a>
		  </li>
		  <li 
		  	class="nav-item"
		  	role="presentation"
			routerLinkActive="active">
			  <a 
			  	class="nav-link active" 
				aria-current="page" 
				routerLink="/chart">View Data</a>
		  </li>
		  
		  <!-- <li 
		  	class="nav-item dropdown"
			role="presentation"
			routerLinkActive="active">
			  <a 
				class="nav-link dropdown-toggle" 
				href="#" 
				id="navbarDropdownMenuLink" 
				role="button" 
				data-bs-toggle="dropdown" 
				aria-expanded="false"
				routerLink="/chart">Chart</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <li><a class="dropdown-item" href="#" (click)="onFullScreen()">Full Screen</a></li>
			  <li><a class="dropdown-item" href="#" (click)="onSave()">Save</a></li>
			</ul>
		  </li> -->
		</ul>
	  </div>
	</div>
</nav>